#!/usr/bin/env bash

rpicam-vid -n -t 0 --inline --vflip=1 --hflip=1 --width {{ stream_width }} --height {{ stream_height }} --framerate {{ stream_framerate }} -o - | cvlc stream:///dev/stdin --sout '#rtp{sdp=rtsp://:{{ stream_port }}/stream}' :demux=h264